In [1]:
import numpy as np

In [2]:
a1=np.array([1,2,3])

In [3]:
a1

array([1, 2, 3])

In [4]:
a1.dtype

dtype('int32')

In [5]:
type(a1)

numpy.ndarray

In [6]:
a2=np.array([[1,2,3],[4,5,6]])

In [7]:
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [8]:
type(a2)

numpy.ndarray

In [9]:
a2.shape()

TypeError: 'tuple' object is not callable

In [10]:
a2.shape

(2, 3)

In [11]:
a2.ndim

2

In [12]:
import pandas as pd

In [13]:
df=pd.DataFrame(a2)

In [14]:
df

   0  1  2
0  1  2  3
1  4  5  6